{
  "extends": ["@cmsgov/eslint-config-design-system"],
  "globals": { "graphql": true },
  "rules": {
    "filenames/match-exported": 0,
    "quotes": 0,
    "react/display-name": 0,
    "react/forbid-prop-types": 0,
    "react/no-array-index-key": 0,
    "react/no-multi-comp": 0,
    "react/prop-types": 0
  }
}
