@import '@cmsgov/design-system-support/src/index';

// We want the search field to span the entire width of its column
.c-search .ds-c-autocomplete,
.c-search .ds-c-label,
.c-input--search {
  max-width: none;
}

// Autocomplete text input field
.c-input--search {
  background-image: url('../../images/search.svg');
  background-position: $spacer-2 center;
  background-repeat: no-repeat;
  background-size: 24px;
  padding: $spacer-2 $spacer-2 $spacer-2 ($spacer-2 + 24px + $spacer-1);
}

// Hide "Clear search" autocomplete button
// This is a hacky solution since there's not a React prop for this (yet)
.c-search .ds-c-button {
  display: none;
}
